<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDPnXR892louqgFdPgdzgwyKbbmPVNq7rM</string>
	<key>GCM_SENDER_ID</key>
	<string>87360926974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ng.com.travla.customer</string>
	<key>PROJECT_ID</key>
	<string>travlacustomerapp</string>
	<key>STORAGE_BUCKET</key>
	<string>travlacustomerapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87360926974:ios:a682a4562ec72776e5e1af</string>
</dict>
</plist>